<!DOCTYPE html>
<html>
{% extends 'tracker/base.html' %}
{% block body_block %}
    <h1>Calculate your BMI</h1>

<script>

function hideMetric(x) {
	if (x.checked) {
		document.getElementById("Metric").style.display = "none";
    	  	document.getElementById("Imperial").style.display = "block";
  	}
}

function hideImperial(x) {
	if (x.checked) {
		document.getElementById("Imperial").style.display = "none";
	        document.getElementById("Metric").style.display = "block";
   	}
}
</script>

<input type="radio" onchange="hideImperial(this)" name="metricorimperial" checked>Metric |
<input type="radio" onchange="hideMetric(this)" name="metricorimperial">Imperial

    <form method="POST" class="post-form">
	{% csrf_token %}
	Age:{{ form.age}}
	<div id="Metric">
    		{{ field.errors }}
		 Height:{{form.heightMetres}} metres
		<br/>
		 Weight:{{form.weightKilos}} kilos
		<br/>
{{calc_bmi}}
	</div>

<div id="Imperial" style="display:none">

	{{ field.errors }}
	Height:{{form.heightFeet}} ft
	<br/>
	Weight:{{form.heightInches}} in
	<br/>
	Weight:{{form.weightPounds}} lbs
	<br/>
{{calc_bmi}}
{{user_input}}
</div>
        <button type="submit" class="save btn">Save</button>
    </form>

  <head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width, initial-scale=1.0">
    <meta http-equiv"X-UA-Compatible" content ="ie=edge">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js">
<link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</script>
  </head>
  <body>
  <div class = "container">
	<canvas id="lineChart" height = "400" width = "400"></canvas>
</div>
{% endblock %}
</html>
